/* Footer Styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #f8f8f8;
    text-align: center;
    color: #888;
    padding: 20px 0;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .footer-text {
    margin: 0;
  }
  
  .footer-link {
    color: #888;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  