*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 5vh;
    background-color: beige;
    
}

.left ul{
    display: flex;
    gap: 4%;
    align-items: center;
}

.route{
    text-decoration: none;
    list-style-type: none;
}
.route a{
    text-decoration: none;
    color: black;
}

.right{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    
}
